@font-face {
	font-family: 'IBMPlexSerif';
	src: url('../fonts/IBMPlexSerif-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IBMPlexSerif';
	src: url('../fonts/IBMPlexSerif-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'IBMPlexSerif';
	src: url('../fonts/IBMPlexSerif-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IBMPlexSerif';
	src: url('../fonts/IBMPlexSerif-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}